html, body {
  height: 100%;
}

body {
  margin: 0;
}

body > .container {
  height: 100%; 
  display: flex;
}

/*left side*/
.container > aside {
  background-image: url("images/backgroundImg.jpg");
  flex: 4; 
}

/*right side*/
.container > main {
  flex: 8; 
}