@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body > .container {
  height: 100%; 
  display: flex;
}

/*left side*/
.container > aside {
  background-image: url("images/backgroundImg.jpg");
  flex: 4; 
  display: flex;
  flex-direction: column;
}

aside > div {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.logoText {
  flex: 0.5;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0;
  background: rgba(0,0,0,0.5);
  color: white;
}

.logoName {
  margin: 0;
}

.logoText > img {
  width: 15em;
  height: 15em;
}

aside > cite {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white; /*use psuedoclass to change*/
}

/*right side*/
.container > main {
  flex: 8; 
  display: flex;
  flex-direction: column;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

/*top section of signup form*/
main > div {
  flex: 1.2;
  /*border: 2px solid red;*/
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
}

.description > * {
  color: white;
  /*border: 2px solid red;*/
  width: clamp(45ch, 50%, 75ch); 
  font-size: 1.5rem;
  position: relative;
  left: 2rem;
  bottom: 2rem;
  text-align: center;
}

/*middle section of signup form*/
main > form {
  flex: 1;
  border: 2px solid pink;
}

/*bottom section of signup form*/
main > .reference {
  flex: 1;
  border: 2px solid blue;
}

